body{
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: san-serif;

}
.container div{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(14, 174, 97);
    border: 2px solid rgb(16, 30, 36);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax(100px));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
  
}